*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header section */
.cover{
    min-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,.3),rgba(4,9,30,.3)),url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    
}
.nav-items ul li{
    display: inline-block;
    list-style: none;   
}
.nav-items ul li:hover a{
    border-bottom: 2px solid rgba(187, 94, 27, 0.5);
}
.nav-items ul li a{
    text-decoration: none;
    color: #fff;
    padding:0 15px;
   
}
.fa-bars{
    display: none;
}
.fa-angle-up{
    display: none;
}

/* footer */
    footer{
        background-color: #161414;
        color: #ffff;
        text-align: center;
        padding: 30px;
    }
    footer h1{
        font-size: 20px;
        color: #d2691e;
    }
    footer small{
        font-size: 12px;
    }

@media(max-width:600px){

    .nav-items{
        height: 100%;
        display: none;
        position: relative;
        /* background-color: #92A9BD; */
    }
    .nav-items ul li{
        display: block;
        padding: 20px 30px 0 30px;
        text-align: left;

        
    }
    .nav-items ul li:hover a{
        border: none;
    }
    .navbar{
        align-items: flex-start;
        padding-right: 0;
    }

    .fa-bars{
        display: block;
        font-size: 35px;
        margin-top: 25px;
        margin-right: 30px;
    }
    .fa-angle-up{
        display: block;
        position: absolute;
        right: 20px;
        top: 16.5px;
        font-size: 1.5rem;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 0px;

    }

    footer{
        padding: 20px;
    }
    footer h1{
        font-size: 16px;
        color: chocolate;
    }
    footer small{
        font-size: 9px;
    }

}
